NEXT_PUBLIC_HELIUS_API_KEY=
NEXT_PUBLIC_DEVFRIDGE_PROGRAM_ID=9RY54dNPYTzDyh3TfFqDdt2b2KMM56KW1tw9erRTGQo6
NEXT_PUBLIC_TREASURY_WALLET=GxPoKNX26GCisuH8Sdr8rtfZY98L5t5eegKtDzSA9P6W
NEXT_PUBLIC_PASTA_MINT=39kMeX4HVRW9qbbiHSPbRQ9xeXUF18GrNP6gL61Ppump
NEXT_PUBLIC_BURN_ADDRESS=1nc1nerator11111111111111111111111111111111
HELIUS_API_KEY=
KV_REST_API_URL=
KV_REST_API_TOKEN=
SUPABASE_URL=
SUPABASE_ANON_KEY=
