# Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_ALERTS_CHANNEL_ID=
TELEGRAM_WEBHOOK_SECRET=
WEBHOOK_URL=
PORT=8080

# Solana
HELIUS_API_KEY=
DEVFRIDGE_PROGRAM_ID=9RY54dNPYTzDyh3TfFqDdt2b2KMM56KW1tw9erRTGQo6

# Ecosystem
PASTA_MINT=39kMeX4HVRW9qbbiHSPbRQ9xeXUF18GrNP6gL61Ppump
BURN_ADDRESS=1nc1nerator11111111111111111111111111111111
TRUST_ME_VAULT=0xf8815770e046d32f606385700f3bc96ffbb4e879
TRUST_ME_LEADER=0x5D69C42A3a481d0CCFd88CFA8a2a08e2BF456134

# Scanner
SCANNER_URL=https://scan.devfridge.cool
FRIDGE_URL=https://devfridge.cool
CONNECT_URL=https://connect.devfridge.cool
